.gradle
.env
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
.DS_Store
.factorypath
dump.rdb
transaction-logs
node_modules
*.tfstate.backup
*.tfstate
out/
.terraform/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.terraform.lock.hcl

.aws-sam/

**/.docker
org.mockito.plugins.MockMaker
.kotlintest
**TEST-*.xml

*.env

.gitattributes

*.egg-info
.tox
__pycache__

java_pid*.hprof

gradle.properties
local.properties
/infra/.terraform.lock.hcl

test-results/
storybook-static
/.eslintcache
.vscode
.python-version
file-uploads

.kotlin/
